body {
 margin-top: 50px;
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: #000;
 color: #00ffff;
 font-family: Arial, Helvetica, sans-serif;
}

h1 {
 font-size: 60px;
 text-shadow: 2px 2px 5px #00ffff;
}

.buttons {
 display: flex;
}

button {
 margin: 10px;
 padding: 10px;
 height: 100px;
 width: 100px;
 font-size: 18px;
 border: 1px solid #000;
 border-radius: 50%;
 cursor: pointer;
 background-color: #00ffff;
}

#container {
 border: 3px solid #00ffff;
 border-radius: 10px;
 background-color: #f7f5f5;
 height: 700px;
 width: 700px;
 display: flex;
 flex-wrap: wrap;
}

.container div {
 display: flex;
 flex-wrap: wrap;
}

.row {
 width: 100%;
 height: auto;
 display: flex;
}

.square {
 border: 1px solid #dee2e6;
 border-radius: 50%;
 width: 100%;
 height: auto;
}